@import url('https://fonts.cdnfonts.com/css/permiansanstypeface');
body {
    background-color: #56375c

}
h1 {
    font-family: 'PermianSansTypeface', sans-serif;
    color: white;
    margin-left: 10%;
    margin-top: 2%;
}